<!-- templates/index.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Recipe to Grocery List{% endblock %}


{% block content %}
{% include "nav.html" %}
    <div id="banner" class="jumbotron text-center text-light">
		<h1>Recipe to Grocery List</h1>
		{% if user.is_authenticated %}
      		<h2>Welcome {{ user.get_username }}</h2>
      	{% else %}
      		<a class="btn btn-dark" href="accounts/register/">Register</a>
      	{% endif %}
	</div>
	
<div class="container-fluid">
	<div>
		<div class="card-columns">
		{% for recipe in data.recipes %}
		  <div id="recipe-card" class="card">
		    <img class="card-img-top" src={{recipe.image}} alt="Card image cap">
		    <div class="card-body">
		      	<h5 class="card-title"><a href={{recipe.sourceUrl}}>{{recipe.title}}</a></h5>
		      	<!-- Button trigger modal -->
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#recipeModal_{{recipe.id}}">
				  View Recipe
				</button>
				<!-- Modal -->
				<div class="modal fade" id="recipeModal_{{recipe.id}}" tabindex="-1" role="dialog" aria-labelledby="recipeModalLabel_{{recipe.id}}" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="recipeModalLabel_{{recipe.id}}">{{recipe.title}}</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        <ul>
				        	{% for item in recipe.extendedIngredients %}
				        		<li>{{item.original}}</li>
				        	{% endfor %}
				        </ul>
				        {% if recipe.id.readyInMinutes != 45 %} <!-- need to make this not show a time if recipe doesn't include one -->
				        	<ul> Ready in {{recipe.readyInMinutes}} minutes</ul>
				        {% endif %}
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				        <a class="btn btn-dark" href="recipe/{{recipe.id}}/">View Full Recipe</a>
				        <form action="favorites/{{recipe.id}}">
						  <input class="btn btn-dark" href="favorites/{{recipe.id}}/"type="submit" value="Add to Favorites">
						</form>
				      </div>
				    </div>
				  </div>
				</div>
		    </div>
		  </div>
		{% endfor %}
		</div>	
	</div>
</div>
{% endblock %}
