<nav id="navigation" class="navbar navbar-expand navbar-light sticky-top" style="background-color: #99f5d0">
  
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{% url 'home' %}">Home</a>
      <a class="nav-item nav-link" href="#">Features</a>
      {% if user.is_authenticated %}
        <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
      {% else %}
        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
      {% endif %}
      {% if user.is_authenticated %}
        <a class="nav-item nav-link" href="/favorites/0">My Favorites</a>
      {% endif %}
    </div>
  </div>
  <div class="dropdown" style="margin-right: 10px;">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Filter
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
	<h6 class="dropdown-header">Food Origin</h6>
    <a class="dropdown-item" href="#">American</a>
    <a class="dropdown-item" href="#">Italian</a>
    <a class="dropdown-item" href="#">Mexican</a>
	<div class="dropdown-divider"></div>
	<h6 class="dropdown-header">Diet</h6>
	<a class="dropdown-item" href="#">Gluten Free</a>
	<a class="dropdown-item" href="#">Pescetarian</a>
	<a class="dropdown-item" href="#">Fruitarian</a>
	<a class="dropdown-item" href="#">Paleo</a>
    <a class="dropdown-item" href="#">Vegan</a>
	<a class="dropdown-item" href="#">Vegetarian</a>
	<div class="dropdown-divider"></div>
	<h6 class="dropdown-header">Cook Time</h6>
	<a class="dropdown-item" href="#">15 Minutes or Under</a>
	<a class="dropdown-item" href="#">15-45 Minutes</a>
	<a class="dropdown-item" href="#">45 Minutes or Over</a>
  </div>
</div>
  <form class="form-inline">
    <input style="width:200px;" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-dark my-2 my-sm-0" type="submit"><svg class="bi bi-search" width="24px" height="24px" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M12.442 12.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z" clip-rule="evenodd"/>
  <path fill-rule="evenodd" d="M8.5 14a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM15 8.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z" clip-rule="evenodd"/>
</svg></button>
  </form>
</nav>

