<!-- templates/recipe.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Recipe{% endblock %}


{% block content %}

    <div id="banner" class="jumbotron text-center text-light">
		<h1>Recipe to Grocery List</h1>
		{% if user.is_authenticated %}
      		<h2>Welcome {{ user.get_username }}</h2>
      	{% else %}
      		<a class="btn btn-dark" href="accounts/register/">Register</a>
      	{% endif %}
	</div>
	
	{% include "nav.html" %}

<br>

<h2>{{data.title}}</h2>
<img src="{{data.image}}" style="float:right">
<a class="btn btn-dark" href="#">Add to Favorites</a>
<br></br>

<div>Serves {{data.servings}} people</div>
<div>Total time: {{data.readyInMinutes}} minutes</div>
<br>
{% for item in data.extendedIngredients %}
	<li>{{item.original}}</li>
{% endfor %}
<br>
<h3>Instructions:</h3>
<p>{{data.instructions}}</p>
<br>
<h3>Additional Information:</h3>
<li> vegetarian: {{data.vegetarian}}</li>
<li> Vegan: {{data.vegan}}</li>
<li> Gluten free: {{data.glutenFree}}</li>
<li> Dairy free: {{data.dairyFree}}</li>



testing:
link to the recipe json with with the recipe id passed by the url.
	<a class="btn btn-dark" href="https://api.spoonacular.com/recipes/{{data.id}}/information?apiKey=caced314aa254583a7713a5e8e77f883">json for recipe</a>
	<h2>Recipe number {{data.id}}</h2>

<!-- <p>Full dump of the reciple json------ {{data}}</p>
 -->

{% endblock %}