<!-- templates/recipe.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Recipe{% endblock %}


{% block content %}

    <div id="banner" class="jumbotron text-center text-light">
		<h1 id="jumboHeader">EasyEats</h1>
		{% if user.is_authenticated %}
      		<h2>Welcome {{ user.get_username }}</h2>
      	{% else %}
      		<a class="btn btn-dark" href="accounts/register/">Register</a>
      	{% endif %}
	</div>
	
	{% include "nav.html" %}


<div id="page">
<div id="recipePage">
<h2>{{data.title}}</h2>
<img src="{{data.image}}" style="float:right">
<a class="btn btn-dark" href="/favorites/{{data.id}}">Add to Favorites</a>

  <br></br>

<div>Serves {{data.servings}} people</div>
<div>Total time: {{data.readyInMinutes}} minutes</div>
<br>
{% for item in data.extendedIngredients %}
	<li>{{item.original}}</li>
{% endfor %}
<br>
<h3>Instructions:</h3>
<div>{{data.instructions}}</div>
<br>
<h3>Dietary Information:</h3>
{% if data.vegetarian %}
	<li>Vegetarian</li>
{% endif %}
{% if data.vegan %}
	<li>Vegan</li>
{% endif %}
{% if data.glutenFree %}
	<li>Gluten Free</li>
{% endif %}
{% if data.dairyFree %}
	<li>Dairy Free</li>
{% endif %}
</div>
</div>
{% endblock %}