#page {
	 background: linear-gradient(rgb(1, 230, 139),
								rgb(0, 214, 127),
								rgb(0, 152, 91) ); 
}

#banner {
	margin-bottom: 0;
	background-image: url('../images/grocery_banner.jpg');
}

#recipe-card {
	box-shadow: rgb(0, 0, 0) 0px 10px 13px -8px ;
	margin-top: 10px;
}

#navigation {
	box-shadow: rgb(0, 0, 0) 0px 14px 20px -19px ;
}

#userandpass {
	margin-top: 10px;
	border: 10px rgb(1,230,139) dotted;
}
